* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color: #1d1d1d;
  --secondary-color: #e3d3e4;
  --text-color: #72ddf7;
  --background-color: #8093f1;
  --button-color: #2d00f7;
}

body {
  overflow-x: hidden;
}

h3 {
  position: relative;
  font-size: 1.4em;
  color: var(--text-color);
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  color: #a5a5a5;
}

section {
  position: relative;
  min-height: 100vh;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: var(--text-color);
  color: var(--primary-color);
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
  text-decoration: none;
}

.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4em;
  margin-bottom: 30px;
}

.title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 80px;
  height: 1px;
  background: var(--text-color);
}

.adjust {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 0 40px;
  padding-top: 80px;
  background: var(--primary-color);
  color: var(--text-color);
  display: inline-block;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: 1px solid rgb(144, 221, 247);
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.5s, left 0.5s;
}

.navigation.active {
  width: 0;
}

.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
  white-space: normal;
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 2px;
  opacity: 0.5;
}
.navigation ul li a:hover {
  opacity: 1;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  background: var(--primary-color);
  min-height: 100vh;
  transition: width 0.5s, left 0.5s;
}

.main.active {
  width: calc(100% - 0px);
  left: 0px;
}
.main .topbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background: var(--primary-color);
  border-bottom: 1px solid rgb(144, 221, 247);
  height: 60px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: width 0.5s, left 0.5s;
}

.main .topbar.active {
  width: calc(100% - 0px);
  left: 0px;
}

.main .topbar .logo {
  color: var(--text-color);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main .topbar .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--text-color);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.banner .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .content::before {
  content: "";
  position: absolute;
  transform: rotate(20deg) translate(-20px, -70px);
  width: 300px;
  height: 300px;
  border-radius: 4px;
  border: 2px solid var(--text-color);
  animation: breathe 2s infinite alternate;
}

@keyframes breathe {
  0% {
    box-shadow: 0px 0px 10px rgba(114, 221, 247, 0.5);
    background: #272727;
  }
  50% {
    box-shadow: 0px 0px 20px rgba(114, 221, 247, 0.5);
    background: #272727;
  }
  100% {
    box-shadow: 0px 0px 50px rgba(114, 221, 247, 0.5);
    background: #272727;
  }
}

.banner .imgBx {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 60px;
  border: 2px solid var(--text-color);
}

.banner .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .content {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
}

.about .content .textBox {
  width: 40%;
  min-width: 49%;
}

.about .content .imgBx {
  width: 40%;
  margin-left: 40px;
  max-width: 540px;
  position: relative;
}

.about .content .imgBx::before {
  content: "";
  position: absolute;
  transform: translate(-20px, 20px);
  width: 100%;
  height: 100%;
  border: 4px solid var(--text-color);
  animation: breathe 3s infinite alternate;
}

.about .content .imgBx img {
  max-width: 100%;
  max-height: 360px;
  position: relative;
  z-index: 1;
}

.services .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 60px 0;
}

.services .content .serviceBox {
  border: 2px solid var(--text-color);
  border-radius: 4px;
  padding: 50px 20px;
  display: flex;
  background: #272727;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services .content .serviceBox:hover {
  box-shadow: 0px 0px 22px rgba(114, 221, 247, 0.5);
}

.services .content .serviceBox:hover h2 {
  box-shadow: 0px 0px 10px rgba(114, 221, 247, 0.5);
  background: #393939;
}

.services .content .serviceBox img {
  max-width: 50px;
  filter: invert(1);
}

.services .content .serviceBox h2 {
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.services .content .serviceBox p {
  text-align: center;
}

.project .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 40px 0;
}

.project .content .workBx {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.project .content .workBx .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}

.project .content .workBx:hover .imgBx {
  transform: translateY(-100%);
}

.project .content .workBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.project .content .workBx .textBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
}
.project .content .workBx .textBx a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 6px;
}

.project .content .workBx .textBx a:hover {
  text-decoration: underline;
}

.project .content .workBx:hover .textBx {
  transform: translateY(0);
}

.project .content .workBx .textBx h3 {
  color: var(--primary-color);
  font-size: 1em;
  margin-bottom: 10px;
}

/* contact */
.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.contact .title p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.contact-info {
  margin-top: 50px;
}

.contact-info div {
  margin-bottom: 15px;
}

.contact-info i {
  width: 20px;
  margin-right: 10px;
  color: var(--text-color);
  font-size: 1.2rem;
}

.contact-info i:hover {
  color: var(--text-color);
}

.social-media {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.social-media li {
  display: inline-block;
  margin-right: 20px;
}

.social-media i {
  color: var(--text-color);
  font-size: 2.8rem;
  transition: color 0.3s, font-size 0.3s;
}

.social-media i:hover {
  color: var(--background-color);
}

.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.fab {
  font-family: "Font Awesome 5 Brands";
}
.copyright {
  position: relative;
  bottom: 0;
  padding: 30px 40px;
  text-align: center;
  border-top: 1px solid rgb(144, 221, 247);
}

.copyright p {
  color: var(--text-color);
}

/* responsive */
@media (max-width: 992px) {
  .navigation {
    left: -100%;
  }
  .navigation.active {
    left: 0;
    width: 100%;
  }
  .main {
    left: 0;
    width: 100%;
  }
  .main.active {
    left: 100%;
  }
  .main .topbar {
    left: 0;
    width: 100%;
    padding: 0 20px;
  }
  .navigation ul {
    padding: 20px 20px;
  }
  .banner .imgBx {
    width: 250px;
    height: 250px;
  }
  .banner h3,
  .banner p {
    text-align: center;
  }

  .about .content {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .about .content .imgBx::before {
    transform: translate(-20px, 40px);
    width: 250px;
    height: 250px;
  }

  .about .content .imgBx img {
    margin-top: 20px;
  }

  .adjust {
    padding: 0 20px;
    padding-top: 80px;
  }
  .about .content {
    flex-direction: column;
  }
  .about .content .textBox {
    width: 100%;
    min-height: 100%;
  }
  .about .content .imgBx {
    margin-left: 0;
    margin-top: 20px;
  }
  .services .content {
    grid-template-columns: repeat(2, 1fr);
  }
  .project .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .banner .imgBx {
    margin-bottom: 100px;
  }

  .about .content .imgBx img {
    max-width: 280px;
  }
  .about .content .imgBx::before {
    display: none;
  }

  .services .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .project .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact {
    margin-bottom: 100px;
  }
  .copyright {
    padding: 10px 20px;
  }
}
